#app{
    display: flex;
   
}

.container-counter{
    display: flex;
    width: 100%;
    margin: 20px;
    background: #080808;
    color: white;
    padding: 20px;
}
.container{
    font-weight: bold;
    font-size: 120px;
}
.one, .two, .three, .four, .five, .six, .clock{
    background: #1f1e1e;
    padding: 50px;
    margin: 35px;
    border-radius: 25px
}

